<section class="d-flex justify-content-between align-items-start">
    <div>
        <h4 class="text-capitalize">{{title}}</h4>
        <p>{{customerAmount}} customers in record</p>
    </div>

    <button (click)="customerForm()" class="btn action-btn">
        New Customer +
    </button>
</section>


<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th><i class="ri-user-6-fill"></i>Name</th>
            <th><i class="ri-phone-fill"></i>Phone</th>
            <th><i class="ri-map-pin-2-fill"></i>Service Locations</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of Customer; index as i">
            <td (click)="viewCustomer(customer.name, customer.key, customer.phone, customer.addresses)">{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <!-- <td>{{customer.addresses}}</td> -->
            <td>
                <ul>
                    <li *ngFor="let cust of customer.addresses">{{cust}}</li>
                </ul>
            </td>
            <td>
                <button (click)="deleteRecord(customer.key)" class="btn btn-small btn-transparent">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="mainModal" aria-hidden="true">
    <div class="modal-dialog animate__animated animate__fadeIn">
      <div class="modal-content">
        <div class="modal-header">
            <!-- if the user is adding a new record, show this title-->
            <h5 class="modal-title" id="mainModalLabel" *ngIf="userIsAddingRecord">New Customer</h5>
            <!-- if the user is viewing a record, show the name on the record-->
            <h5 class="modal-title" id="mainModalLabel" *ngIf="userIsViewingRecord"><i class="ri-user-6-fill"></i> {{viewingCustomer.name}}</h5>
            <button (click)="toggleModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- if the user is adding a new record, show this form-->
            <div *ngIf="userIsAddingRecord">
                <!-- set of inputs-->
                <div class="form-group mb-3">
                    <label class="label">Name</label>
                    <input [(ngModel)]="newCustomer.name" type="text" class="form-control" placeholder="name">
                </div>
                <div class="form-group mb-3">
                    <label class="label">Phone</label>
                    <input [(ngModel)]="newCustomer.phone" type="number" class="form-control" placeholder="phone number">
                </div>
                <div class="form-group mb-3">
                    <label class="label">Address</label>
                    <input [(ngModel)]="newAddress" type="text" class="form-control" placeholder="address">
                </div>
            </div>
            <!-- if the user is viewing an existing record -->
            <div *ngIf="userIsViewingRecord" >
                <div>
                    <label for="">Phone</label>
                    <p>{{viewingCustomer.phone}}</p>
                </div>
                <div>
                    <label for="">Service Locations</label>
                    <ul>
                        <li *ngFor="let a of viewingCustomer.addresses">{{a}}</li>
                        <label *ngIf="!userIsAddingAddress" (click)="addAdditionalAddress()" class="mt-4 add-address-btn"><a>Add new service location +</a></label>
                    </ul>
                    <div class="form-group mb-3" *ngIf="userIsAddingAddress">
                        <label for="">New Service Location</label>
                        <input [(ngModel)]="newAddress" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <!-- if the user is adding a new record, show this buttons-->
        <div class="modal-footer" *ngIf="userIsAddingRecord">
          <button (click)="toggleModal()" type="button" class="btn secondary-btn" data-bs-dismiss="modal">Discard</button>
          <button (click)="save()" type="button" class="btn action-btn">Submit</button>
        </div>
        <!-- if the user is adding a new address to an existing record, show this buttons -->
        <div class="modal-footer" *ngIf="userIsAddingAddress">
            <button (click)="toggleModal()" type="button" class="btn secondary-btn" data-bs-dismiss="modal">Discard</button>
            <button (click)="saveRecordWithNewAddress()" type="button" class="btn action-btn">Save Changes</button>
        </div>
      </div>
    </div>
</div>